EasyDict==1.7
opencv-python
Cython
scipy
pandas
pyyaml==5.4.1
json_tricks
scikit-image
tensorboardX
yacs
cffi
munkres
tqdm
ptflops
pycocotools

onnx
onnxruntime; platform_system != "Darwin" and platform.machine != "arm64"
onnxruntime-silicon; platform_system == "Darwin" and platform.machine == "arm64"